body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #484848; }
  a:visited {
    color: #484848; }

.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background: white; }

h1 {
  font-weight: bold;
  font-size: 36px; }

h2 {
  font-weight: bold;
  font-size: 26px; }

h3 {
  color: #484848;
  font-size: 16px; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #484848; }

button {
  cursor: pointer; }

header {
  border-bottom: 1px solid #E5E5E5;
  background: white; }

.navigation {
  height: 53px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 31px; }
  .navigation__element {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
    .navigation__element:nth-child(2) {
      margin-left: 52px; }
  .navigation__logo {
    padding-top: 15px; }
  .navigation__form {
    display: inline-block;
    margin-top: 12px;
    width: 437px;
    height: 30px;
    position: relative; }
  .navigation__input {
    width: 100%;
    height: inherit;
    padding-left: 7px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    outline: none;
    color: #c4c4c4;
    vertical-align: middle;
    -webkit-box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
    margin-top: -2px; }
    .navigation__input:-moz-placeholder {
      color: #e0e0e0; }
    .navigation__input:-ms-input-placeholder {
      color: #e0e0e0; }
    .navigation__input::-webkit-input-placeholder {
      color: #e0e0e0; }
    .navigation__input:focus {
      border: 1px solid #1c8eed;
      color: #000000; }
  .navigation__button {
    width: 60px;
    height: 28px;
    position: absolute;
    right: 1px;
    top: -1px;
    background-image: url("../img/button.png");
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
    outline: none; }
    .navigation__button__img {
      margin-top: 6px; }
  .navigation__all-button {
    margin-left: 5px; }
  .navigation__links {
    display: flex;
    justify-content: space-between;
    width: 253px;
    font-size: 14px;
    color: #484848;
    padding-top: 14px;
    padding-left: 27px; }
  .navigation__action {
    width: 210px;
    margin-left: 65px;
    padding-top: 5px; }
  .navigation__add, .navigation__menu, .navigation__portfolio, .navigation__profile {
    background-color: rgba(0, 0, 0, 0);
    border-style: none; }
  .navigation__add {
    background-image: url("../img/button-add.png");
    margin-right: 17px;
    width: 34px;
    height: 34px;
    background-size: cover;
    margin-left: 8px; }
  .navigation__menu, .navigation__portfolio {
    width: 33px;
    height: 33px;
    background-size: cover;
    margin-left: 10px; }
  .navigation__menu {
    background-image: url("../img/button-menu.png"); }
  .navigation__portfolio {
    background-image: url("../img/button-portfolio.png"); }
  .navigation__profile {
    background-image: url("../img/button-profile.png");
    width: 37px;
    height: 37px;
    background-size: cover;
    margin-left: 10px;
    position: relative;
    top: 2px;
    right: 1px; }
  .navigation__profile::after {
    content: url("../img/unread.png");
    display: inline-block;
    height: 9px;
    width: 9px;
    position: absolute;
    left: 25px;
    top: -5px; }

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 78px; }

.picture__back {
  font-size: 12px;
  margin: 19px 40px 18px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  width: 200px; }

.picture__back-img {
  width: 5px;
  height: 10px;
  background-image: url("../img/arrow-left.png");
  margin-right: 10px;
  margin-top: 2px; }

.picture__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.picture__slider {
  width: 647px;
  margin-left: 50px; }

.picture__description {
  width: 461px;
  margin-left: 27px; }

.picture__name {
  margin-bottom: 3px; }

.picture__artist {
  font-weight: 100;
  color: #949494;
  font-size: 14px; }

.picture__canvas {
  margin-top: 13px;
  line-height: 17px; }

.picture__user-options {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-right: 20px; }

.picture__buy-info, .picture__copy-info, .picture__collection-info {
  display: flex;
  justify-content: space-between; }

.picture__buy-info {
  margin-bottom: 16px; }

.picture__original-price {
  font-size: 35px;
  font-weight: 300;
  width: 180px; }

.picture__buyer-currency {
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px; }

.picture__copy-size {
  width: 180px;
  text-align: left;
  font-size: 10px;
  padding-top: 9px;
  color: #484848;
  line-height: 12px; }

.picture__collection-info {
  margin-top: 58px; }

.picture__collection-added-times {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 16px;
  margin-left: 12px;
  width: 180px;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  color: #828282; }

.picture__collection-added-times-img {
  background-image: url("../img/stock.png");
  width: 15px;
  height: 13px;
  margin-right: 7px; }

.picture__btn {
  width: 222px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.1em;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 1px; }

.picture__buy-btn {
  background-color: #0951AF;
  border-color: #0951AF;
  color: #fff; }

.picture__collection-add-btn {
  font-size: 0.84em;
  letter-spacing: -0.03em; }

.picture__info {
  margin-top: 16px;
  padding: 0 50px; }

.picture__owner {
  color: #A1A1A1;
  margin-top: 13px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 30px; }

.picture__year {
  font-size: 20px;
  line-height: 30px;
  color: #A1A1A1;
  margin-top: -2px; }

.hidden {
  display: none; }

.similar {
  padding: 0 35px 0 45px; }

.teg {
  margin-top: 23px;
  display: flex; }

.teg__item {
  border-radius: 2px;
  background: #808080;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-right: 5px; }

.teg__delete {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: url("../img/cancel.png") no-repeat center center/cover; }

.galery {
  margin-top: 23px; }

.grid {
  max-width: 1200px; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.item-new__round {
  text-align: center;
  padding-top: 28px;
  width: 85px;
  height: 85px;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 46px;
  color: #000000;
  font-weight: 100;
  margin: 49px auto 24px auto; }

.item-new__link {
  color: #1C8EED; }
  .item-new__link:hover {
    color: #0335ed; }
  .item-new__link:visited {
    color: #1C8EED; }

.grid__item {
  float: left;
  height: 290px;
  width: 214px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: no-repeat center center/cover; }
  .grid__item-new {
    border: 1px dashed #C7C7C7;
    text-align: center;
    font-size: 14px;
    line-height: 23px; }
  .grid__item-height238 {
    height: 238px; }
  .grid__item-height253 {
    height: 253px; }
  .grid__item-height261 {
    height: 261px; }
  .grid__item-height301 {
    height: 301px; }
  .grid__item-height310 {
    height: 310px; }
  .grid__item-height350 {
    height: 350px; }
  .grid__item-height358 {
    height: 358px; }
  .grid__item-height373 {
    height: 373px; }

/*# sourceMappingURL=main.css.map */
