body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

p {
  margin: 0; }

h1, h2, h3, h4, h5 {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

a {
  text-decoration: none;
  cursor: pointer;
  color: #484848; }
  a:visited {
    color: #484848; }

.clearfix:after {
  content: '';
  display: block;
  width: 100%;
  clear: both; }

.container {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background: white; }

h1 {
  font-weight: bold;
  font-size: 36px; }

h2 {
  font-weight: bold;
  font-size: 26px; }

h3 {
  color: #484848;
  font-size: 16px; }

h4 {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #484848; }

button {
  cursor: pointer;
  outline: none; }

header {
  border-bottom: 1px solid #E5E5E5;
  background: white; }

.navigation {
  height: 53px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 31px; }
  .navigation__element {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
    .navigation__element:nth-child(2) {
      margin-left: 52px; }
  .navigation__logo {
    padding-top: 15px; }
  .navigation__form {
    display: inline-block;
    margin-top: 12px;
    width: 437px;
    height: 30px;
    position: relative; }
  .navigation__input {
    width: 100%;
    height: inherit;
    padding-left: 7px;
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
    outline: none;
    color: #c4c4c4;
    vertical-align: middle;
    -webkit-box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
    margin-top: -2px; }
    .navigation__input:-moz-placeholder {
      color: #e0e0e0; }
    .navigation__input:-ms-input-placeholder {
      color: #e0e0e0; }
    .navigation__input::-webkit-input-placeholder {
      color: #e0e0e0; }
    .navigation__input:focus {
      border: 1px solid #1c8eed;
      color: #000000; }
  .navigation__button {
    width: 60px;
    height: 28px;
    position: absolute;
    right: 1px;
    top: -1px;
    background-image: url("../img/button.png");
    background-size: cover;
    background-position: center;
    border-radius: 2px;
    border: none;
    vertical-align: middle;
    outline: none; }
    .navigation__button__img {
      margin-top: 6px; }
  .navigation__all-button {
    margin-left: 5px; }
  .navigation__links {
    display: flex;
    justify-content: space-between;
    width: 253px;
    font-size: 14px;
    color: #484848;
    padding-top: 14px;
    padding-left: 27px; }
  .navigation__action {
    width: 210px;
    margin-left: 65px;
    padding-top: 5px; }
  .navigation__add, .navigation__menu, .navigation__portfolio, .navigation__profile {
    background-color: rgba(0, 0, 0, 0);
    border-style: none; }
  .navigation__add {
    background-image: url("../img/button-add.svg");
    margin-right: 17px;
    width: 34px;
    height: 34px;
    background-size: cover;
    margin-left: 8px; }
  .navigation__menu, .navigation__portfolio {
    width: 33px;
    height: 33px;
    background-size: cover;
    margin-left: 10px; }
  .navigation__menu {
    background-image: url("../img/button-menu.svg"); }
  .navigation__portfolio {
    background-image: url("../img/button-portfolio.svg"); }
  .navigation__profile {
    background-image: url("../img/button-profile.svg");
    width: 37px;
    height: 37px;
    background-size: cover;
    margin-left: 10px;
    position: relative;
    top: 2px;
    right: 1px; }
  .navigation__profile::after {
    content: "";
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    height: 9px;
    width: 9px;
    position: absolute;
    left: 25px;
    top: 1px; }

.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 78px; }

.picture__slider-container {
  position: relative; }

.picture__slide {
  background-color: #ffffff;
  width: 647px;
  height: 420px;
  display: none; }
  .picture__slide_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

.picture__full-size {
  position: absolute;
  bottom: 8px;
  right: 12px; }

.picture__slider__button {
  position: absolute;
  top: 45%;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 19px;
  vertical-align: middle; }
  .picture__slider__button_next {
    right: 20px; }
  .picture__slider__button_prev {
    left: 30px; }
  .picture__slider__button_prev img {
    transform: rotate(180deg); }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
.picture__slider__view-style-wrap {
  position: absolute;
  bottom: 14px;
  left: 40px; }

.picture__slider__view-style {
  width: 165px;
  height: 38px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.2);
  margin-left: 21px;
  font-size: 14px;
  font-weight: 300;
  color: #FFF9F9;
  padding-top: 2px;
  border: none; }
  .picture__slider__view-style:nth-child(2) {
    padding-left: 3px; }
  .picture__slider__view-style:nth-child(3) {
    margin-left: 13px !important; }

.active-dot, .picture__slider__view-style:hover {
  border-color: rgba(0, 0, 0, 0.62);
  background-color: rgba(0, 0, 0, 0.62); }

.picture__slide__pc {
  position: absolute;
  top: 44px;
  left: 65px; }

.picture__slide__phone {
  position: absolute;
  top: 68px;
  right: 33px; }

.picture__slide__info {
  font-size: 9px;
  color: #A1A1A1; }

.picture__slide__info_device {
  position: absolute;
  top: 20px;
  left: 66px; }

.picture__slide__picture-in-interior {
  position: absolute;
  top: 99px;
  left: 231px;
  z-index: 10; }

.picture__slide__background-second-img, .picture__slide__background-img {
  display: block; }

.picture__slide__background-second-img {
  margin-top: -8px; }

.picture__slide__info_interior {
  position: relative;
  z-index: 20;
  font-size: 7px;
  background-color: transparent;
  top: 15px;
  left: 15px; }

.picture__slider-info {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 17px; }
  .picture__slider-info__element {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto; }
    .picture__slider-info__element:nth-child(2) {
      margin-left: 364px;
      width: 50px;
      height: auto; }
    .picture__slider-info__element:nth-child(3) {
      margin-top: -3px; }

.picture__views {
  color: #828282; }

.picture__likes {
  position: relative; }

.picture__likes__like, .picture__likes__dislike {
  position: absolute; }

.picture__likes__like {
  top: -4px;
  left: -65px; }
  .picture__likes__like span {
    position: absolute;
    top: 4px;
    left: 22px; }

.picture__likes__dislike {
  right: 54px;
  top: -2px; }
  .picture__likes__dislike span {
    position: absolute;
    top: 1px;
    left: 24px;
    color: #828282; }

.picture__share__button {
  color: #4F4F4F;
  font-size: 14px;
  position: relative;
  margin-left: 31px; }
  .picture__share__button:before {
    content: url("../img/redo.svg");
    position: absolute;
    right: 84px;
    top: -2px; }

.picture__published {
  margin-top: 16px;
  font-size: 14px;
  color: #A1A1A1; }

.picture__back {
  font-size: 12px;
  margin: 19px 40px 18px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  width: 200px; }

.picture__back-img {
  width: 5px;
  height: 10px;
  background-image: url("../img/arrow-left.svg");
  margin-right: 10px;
  margin-top: 2px; }

.picture__img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.picture__slider {
  width: 647px;
  margin-left: 50px; }

.picture__description {
  width: 461px;
  margin-left: 27px; }

.picture__name {
  margin-bottom: 3px; }

.picture__artist {
  font-weight: 100;
  color: #949494;
  font-size: 14px; }

.picture__canvas {
  margin-top: 13px;
  line-height: 17px; }

.picture__user-options {
  display: flex;
  flex-direction: column;
  margin-top: 51px;
  margin-right: 20px; }

.picture__buy-info, .picture__copy-info, .picture__collection-info {
  display: flex;
  justify-content: space-between; }

.picture__buy-info {
  margin-bottom: 16px; }

.picture__original-price {
  font-size: 35px;
  font-weight: 300;
  width: 180px; }

.picture__buyer-currency {
  font-size: 16px;
  font-weight: 200;
  padding-left: 5px; }

.picture__copy-size {
  width: 180px;
  text-align: left;
  font-size: 10px;
  padding-top: 9px;
  color: #484848;
  line-height: 12px; }

.picture__collection-info {
  margin-top: 58px; }

.picture__collection-added-times {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
  padding-top: 16px;
  margin-left: 12px;
  width: 180px;
  font-weight: 300;
  font-size: 11px;
  line-height: 15px;
  color: #828282; }

.picture__collection-added-times-img {
  background-image: url("../img/stock.svg");
  width: 15px;
  height: 13px;
  margin-right: 7px; }

.picture__btn {
  width: 222px;
  height: 40px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  line-height: 0.1em;
  text-transform: uppercase;
  background-color: #fff;
  border: solid 1px; }

.picture__buy-btn {
  background-color: #0951AF;
  border-color: #0951AF;
  color: #fff; }

.picture__collection-add-btn {
  font-size: 0.84em;
  letter-spacing: -0.03em; }

.picture__info {
  margin-top: 16px;
  padding: 0 50px; }

.picture__owner {
  color: #A1A1A1;
  margin-top: 13px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 30px; }

.picture__year {
  font-size: 20px;
  line-height: 30px;
  color: #A1A1A1;
  margin-top: -2px; }

.overlay {
  z-index: 1005;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  display: none; }

.visible {
  display: block !important;
  opacity: 1 !important; }

.hidden {
  display: none !important;
  opacity: 0 !important; }

.picture__popup {
  z-index: 1010;
  margin: auto;
  height: 297px;
  width: 587px;
  background: #FFFFFF;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
  border-radius: 14px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0; }

.picture__popup-copy, .picture__popup-collection {
  padding: 20px;
  height: 297px;
  display: flex;
  flex-direction: column; }

.picture__popup-links-upper {
  height: 35px;
  border-bottom: 1px solid #E8E8E8;
  line-height: 12px;
  display: flex;
  flex-direction: row;
  margin-top: 1px; }

.picture__popup-back {
  display: flex;
  flex-direction: row; }

.picture__popup-link-back {
  font-size: 12px;
  color: #484848;
  margin-left: 10px;
  margin-right: 89px; }

.picture__popup-back-img {
  width: 5px;
  height: 10px;
  margin-top: 2px;
  background-image: url("../img/arrow-left.png"); }

.picture__popup-link-pack {
  margin-left: 171px;
  font-size: 12px;
  color: #0951AF !important; }

.picture__popup-copy-purchase {
  display: flex;
  flex-direction: row;
  text-align: center; }

.picture__popup-copy-purchase-single {
  width: 173px;
  height: 205px;
  margin: 22px 20px 0 0;
  padding-top: 7px; }

.picture__popup-purchase-info {
  margin-left: 4px; }

.picture__popup-purchase-plan {
  width: 324px;
  height: 205px;
  margin: 40px 0 0 30px; }

.picture__popup-price {
  font-size: 48px;
  color: #484848; }

.picture__popup-currency {
  font-size: 14px;
  color: #484848; }

.picture__popup-amount {
  font-size: 18px;
  margin-right: 11px;
  line-height: 38px; }

.picture__popup-plan-id {
  font-weight: 300;
  font-size: 48px;
  margin-left: 4px; }

.picture__popup-plan-left {
  font-size: 14px;
  margin-left: 8px;
  line-height: 25px; }

.picture__popup-buy-btn {
  width: 173px;
  height: 51px;
  background: #E3E3E3;
  border-radius: 7px;
  margin-top: 11px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #4F4F4F;
  border-style: none; }

.picture__popup-dwn-btn {
  width: 324px;
  height: 51px;
  background: #0951AF;
  border-radius: 7px;
  margin-top: 13px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #FFFFFF;
  border-style: none; }

.picture__popup-package {
  height: 300px;
  padding: 21px 20px 27px 22px; }

.picture__popup-package-back-img {
  width: 5px;
  height: 10px;
  background-image: url("../img/arrow-left.png");
  margin-left: -5px; }

.picture__popup-package-link-back {
  font-size: 12px;
  color: #484848;
  margin-left: 5px; }

.picture__popup-ad {
  font-size: 13px;
  margin-left: 12px; }

.picture__popup-package-options {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  margin-top: 27px; }

.picture__copy-item-number {
  line-height: 35px; }

.picture__package-option {
  width: 173px; }

.picture__popup-package-amount {
  font-size: 18px;
  margin-right: 6px;
  line-height: 50px; }

.picture__popup-package-buy-btn {
  width: 173px;
  height: 51px;
  background: #0951AF;
  border-radius: 7px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-style: none;
  margin-top: -4px; }

.picture__collection-options {
  padding: 13px 20px 27px; }

.picture__collection-section {
  font-weight: 800;
  font-size: 24px;
  color: #000000;
  position: relative;
  top: 10px;
  width: 188px; }

.picture__popup-save-btn {
  width: 207px;
  height: 51px;
  background: #0951AF;
  border-radius: 7px;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
  color: #F2F2F2;
  border-style: none; }

.picture__collection-option {
  display: flex;
  justify-content: space-between;
  height: 51px;
  align-content: space-between;
  margin: 12px 0; }

.picture__collection-img-globe {
  width: 21px;
  height: 21px;
  background-image: url("../img/globe.png");
  margin-top: 16px;
  margin-left: 51px; }

.picture__collection-img-lock {
  width: 29px;
  height: 29px;
  background-image: url("../img/lock.png");
  margin-top: 9px;
  margin-left: 51px; }

.picture__add-folder {
  font-size: 12px;
  color: #0951AF !important;
  margin-left: 299px; }

.similar {
  padding: 0 35px 0 45px; }

.teg {
  margin-top: 23px;
  display: flex; }

.teg__item {
  border-radius: 2px;
  background: #808080;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-right: 5px; }

.teg__delete {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: url("../img/cancel.svg") no-repeat center center/cover; }

.galery {
  margin-top: 23px; }

.grid {
  max-width: 1200px; }
  .grid:after {
    content: '';
    display: block;
    clear: both; }

.item-new__round {
  text-align: center;
  padding-top: 28px;
  width: 85px;
  height: 85px;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 46px;
  color: #000000;
  font-weight: 100;
  margin: 49px auto 24px auto; }

.item-new__link {
  color: #1C8EED; }
  .item-new__link:hover {
    color: #0335ed; }
  .item-new__link:visited {
    color: #1C8EED; }

.grid__item {
  float: left;
  height: 290px;
  width: 214px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: no-repeat center center/cover; }
  .grid__item-new {
    border: 1px dashed #C7C7C7;
    text-align: center;
    font-size: 14px;
    line-height: 23px; }

/*# sourceMappingURL=main.css.map */
