header {
    border-bottom: 1px solid #E5E5E5;
    background: white;
}

.navigation {
    height: 53px;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 31px;

    &__element {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 0 1 auto;
        -ms-flex: 0 1 auto;
        flex: 0 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        &:nth-child(2) {
            margin-left: 52px;
        }
    }

    &__logo {
        padding-top: 15px;
    }

    &__form {
        display: inline-block;
        margin-top: 12px;
        width: 437px;
        height: 30px;
        position: relative;
    }

    &__input {
        width: 100%;
        height: inherit;
        padding-left: 7px;
        border: none;
        border-radius: 3px;
        background-color: #ffffff;
        outline: none;
        color: #c4c4c4;
        vertical-align: middle;
        -webkit-box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
        box-shadow: 0px 9px 27px rgba(0, 0, 0, 0.05);
        margin-top: -2px;
        &:-moz-placeholder {
            color: #e0e0e0;
        }
        &:-ms-input-placeholder {
            color: #e0e0e0;
        }
        &::-webkit-input-placeholder {
            color: #e0e0e0;
        }
        &:focus {
            border: 1px solid #1c8eed;
            color: #000000;
        }
    }

    &__button {
        width: 60px;
        height: 28px;
        position: absolute;
        right: 1px;
        top: -1px;
        background-image: url("../img/button.png");
        background-size: cover;
        background-position: center;
        border-radius: 2px;
        border: none;
        vertical-align: middle;
        outline: none;
        &__img {
            margin-top: 6px;
        }
    }

    &__all-button {
        margin-left: 5px;
    }

    &__links {
      display: flex;
      justify-content: space-between;
      width: 253px;
      font-size: 14px;
      color: #484848;
      padding-top: 14px;
      padding-left: 27px;
    }

    &__action {
      width: 210px;
      margin-left: 65px;
      padding-top: 5px;
      
    }

    &__add, &__menu, &__portfolio, &__profile {
      background-color: rgba($color: #000000, $alpha: 0.0);
      border-style: none;
    }

    

    &__add {
      background-image: url("../img/button-add.svg");
      margin-right: 17px;
      width: 34px;
      height: 34px;
      background-size: cover;
      margin-left: 8px;
    }

    &__menu, &__portfolio {
      width: 33px;
      height: 33px;
      background-size: cover;
      margin-left: 10px;
    }

    &__menu {
      background-image: url("../img/button-menu.svg");
    }

    &__portfolio {
      background-image: url("../img/button-portfolio.svg");
    }

    &__profile {
      background-image: url("../img/button-profile.svg");
      width: 37px;
      height: 37px;
      background-size: cover;
      margin-left: 10px;
      position: relative;
      top: 2px;
      right: 1px;

    }

    &__profile::after {
      content: "";
      background-color: red;
      border-radius: 50%;
      display: inline-block;
      height: 9px;
      width: 9px;
      position: absolute;
      left: 25px;
      top: 1px;
    }
}

