
.picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-bottom: 78px;
  &__back {
    font-size: 12px;
    margin: 19px 40px 18px;
    padding-right: 10px;
    display: flex;
    align-items: flex-start;
    width: 200px;

    &-img {
      width: 5px;
      height: 10px;
      background-image: url("../img/arrow-left.png");
      margin-right: 10px;
      margin-top: 2px;
    }

  }

  &__img-block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  &__slider {
    width: 647px;
    margin-left: 50px;
  }
}

//----------slider---------------

.slider-container {
  position: relative;
}

.slider__slide {
  background-color: #ffffff;
  width: 647px;
  height: 420px;
  display: none;
  &_fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
}

.slider__full-size {
  position: absolute;
  bottom: 8px;
  right: 12px;
}

.slider__button {
  position: absolute;
  top: 45%;
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.59);
  border-radius: 19px;
  vertical-align: middle;
  &_next {
    right: 20px;
  }
  &_prev {
    left: 30px;
  }
  &_prev img {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }
  to {
    opacity: 1
  }
}

.slider__view-style-wrap {
  position: absolute;
  bottom: 14px;
  left: 40px;
}

.slider__view-style {
  width: 165px;
  height: 38px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, .2);
  margin-left: 21px;
  font-size: 14px;
  font-weight: 300;
  color: #FFF9F9;
  padding-top: 2px;
  border: none;
  &:nth-child(2) {
    padding-left: 3px;
  }
  &:nth-child(3) {
    margin-left: 13px !important;
  }
}

.active-dot, .slider__view-style:hover {
  border-color: rgba(0, 0, 0, .62);
  background-color: rgba(0, 0, 0, .62);
}

.slider__pc {
  position: absolute;
  top: 44px;
  left: 65px;
}

.slider__phone {
  position: absolute;
  top: 68px;
  right: 33px;
}

.slider__info {
  font-size: 9px;
  color: #A1A1A1;
  &_interior {
    position: relative;
    z-index: 20;
    font-size: 7px;
    background-color: transparent;
    top: 15px;
    left: 15px;
  }
}

.picture__slide__info_device {
  position: absolute;
  top: 20px;
  left: 66px;
}

.slider__picture-in-interior {
  position: absolute;
  top: 99px;
  left: 231px;
  z-index: 10;
}

.slider__background-second-img, .slider__background-img {
  display: block;
}

.slider__background-second-img {
  margin-top: -8px;
}

.slider-info {
  @extend %flex-cont-row-wrap-start-stretch;
  margin-top: 17px;
  &__element {
    @extend %flex-element;
    &:nth-child(2) {
      margin-left: 364px;
      width: 50px;
      height: auto;
    }
    &:nth-child(3) {
      margin-top: -3px;
    }
  }
}

.slider-info__views {
  color: #828282;
}

.slider-info__likes {
  position: relative;
}

.slider-info__like, .slider-info__dislike {
  position: absolute;
}

.slider-info__like {
  top: -4px;
  left: -65px;
  & span {
    position: absolute;
    top: 4px;
    left: 22px;
  }
}

.slider-info__dislike {
  right: 54px;
  top: -2px;
  & span {
    position: absolute;
    top: 1px;
    left: 24px;
    color: #828282;
  }
}

.slider-info__share-button {
  color: #4F4F4F;
  font-size: 14px;
  position: relative;
  margin-left: 31px;
  &:before {
    content: url("../img/redo.svg");
    position: absolute;
    right: 84px;
    top: -2px;
  }
}

.slider__published {
  margin-top: 16px;
  font-size: 14px;
  color: #A1A1A1;
}

//--------end of slider----------

.picture__back {
  font-size: 12px;
  margin: 19px 40px 18px;
  padding-right: 10px;
  display: flex;
  align-items: flex-start;
  width: 200px;
}

.picture__back-img {
  width: 5px;
  height: 10px;
  background-image: url("../img/arrow-left.svg");
  margin-right: 10px;
  margin-top: 2px;
}

.description {
  width: 461px;
  margin-left: 27px;

  &__name {
    margin-bottom: 3px;
  }

  &__artist {
    font-weight: 100;
    color: #949494;
    font-size: 14px;
  }

  &__canvas {
    margin-top: 13px;
    line-height: 17px;
  }

  &__user-options {
    display: flex;
    flex-direction: column;
    margin-top: 51px;
    margin-right: 20px;
  }

  &__buy-info, &__copy-info, &__collection-info {
    display: flex;
    justify-content: space-between;
  }

  &__buy-info {
    margin-bottom: 16px;
  }

  &__original-price {
    font-size: 35px;
    font-weight: 300;
    width: 180px;
  }

  &__buyer-currency {
    font-size: 16px;
    font-weight: 200;
    padding-left: 5px;
  }

  &__copy-size {
    width: 180px;
    text-align: left;
    font-size: 10px;
    padding-top: 9px;
    color: #484848;
    line-height: 12px;
  }

  &__collection {

    &-info {
      margin-top: 58px;

    }

    &-added-times {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      padding-top: 16px;
      margin-left: 12px;
      width: 180px;
      font-weight: 300;
      font-size: 11px;
      line-height: 15px;
      color: #828282;
    }

    &-added-times-img {
      background-image: url("../img/stock.png");
      width: 15px;
      height: 13px;
      margin-right: 7px;
    }
  }

  &__btn {
    width: 222px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 600;
    line-height: 0.1em;
    text-transform: uppercase;
    background-color: #fff;
    border: solid 1px;

    &-buy {
      background-color: #0951AF;
      border-color: #0951AF;
      color: #fff;
    }

    &-add {
      font-size: 0.84em;
      letter-spacing: -0.03em;
    }

  }

}

//* picture__info *//

.picture__info {
  margin-top: 16px;
  padding: 0 50px;
}

.picture__owner {
  color: #A1A1A1;
  margin-top: 13px;
  margin-bottom: 21px;
  font-size: 20px;
  line-height: 30px;
}

.picture__year {
  font-size: 20px;
  line-height: 30px;
  color: #A1A1A1;
  margin-top: -2px;
}


