.overlay {
    z-index:1005;
    position:fixed;
    background-color: rgba(0, 0, 0, .7);
    width:100%;
    height:100%;
    top:0;
    left:0;
    cursor:pointer;
    display:none;
}

.visible {
    display: block !important;
    opacity: 1 !important;
}

.hidden {
    display: none !important;
    opacity: 0 !important;
}

.picture__popup {
    z-index: 1010;
    margin: auto;
    height: 297px;
    width: 587px;
    background: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.05);
    border-radius: 14px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  

.picture__popup-copy, .picture__popup-collection {
padding: 20px;
height: 297px;
display: flex;
flex-direction: column;
}

.picture__popup-links-upper{
height: 35px;
border-bottom: 1px solid #E8E8E8;
line-height: 12px;
display: flex;
flex-direction: row; 
margin-top: 1px;
}

.picture__popup-back {
display: flex;
flex-direction: row; 
}

.picture__popup-link-back {
font-size: 12px;
color: #484848;
margin-left: 10px;
margin-right: 89px;
}

.picture__popup-back-img {
width: 5px;
height: 10px;
margin-top: 2px;
background-image: url("../img/arrow-left.png");
}


.picture__popup-link-pack {
margin-left: 171px;
font-size: 12px;
color: #0951AF !important;
}

.picture__popup-copy-purchase {
display: flex;
flex-direction: row;
text-align: center;

    &-single {
    width: 173px;
    height: 205px;
    margin: 22px 20px 0 0 ;
    padding-top: 7px;
    }

   
}

.picture__popup-purchase {

    &-info {
        margin-left: 4px;  
    }

    &-price {
        font-size: 48px;
        color: #484848;
    }

    &-currency {
        font-size: 14px;
        color: #484848;  
    }

    &-amount {
        font-size: 18px;
        margin-right: 11px;
        line-height: 38px;    
    }

    &-plan {
        width: 324px;
        height: 205px;
        margin: 40px 0 0 30px;
        
        &-id {
            font-weight: 300;
            font-size: 48px;
            margin-left: 4px;
        }

        &-left {
            font-size: 14px;
            margin-left: 8px;
            line-height: 25px;
        }
    } 
}

.picture__popup-buy-btn {
width: 173px;
height: 51px;
background: #E3E3E3;
border-radius: 7px;
margin-top: 11px;
text-transform: uppercase;
font-size: 14px;
font-weight: bold;
color: #4F4F4F;
border-style: none;
} 

.picture__popup-сopy-purchase-dwn-btn {
width: 324px;
height: 51px;
background: #0951AF;
border-radius: 7px;
margin-top: 13px;
text-transform: uppercase;
font-size: 18px;
font-weight: bold;
color: #FFFFFF;
border-style: none;
}




.picture__popup-package {
height: 300px;
padding: 21px 20px 27px 22px;

    &-back-img{
        width: 5px;
        height: 10px;
        background-image: url("../img/arrow-left.png");
        margin-left: -5px; 
    }

    &-link-back{
        font-size: 12px;
        color: #484848;
        margin-left: 5px;
    }

    &-ad{
        font-size: 13px;
        margin-left: 12px;
    }

    &-options{
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-between;
        margin-top: 27px;
    }

    &-option-offer{
        width: 173px;
    }

    &-amount{
        font-size: 18px;
        margin-right: 6px;
        line-height: 50px;
    }

    &-buy-btn{
        width: 173px;
        height: 51px;
        background: #0951AF;
        border-radius: 7px;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        color: #FFFFFF;
        border-style: none;
        margin-top: -4px;
    }
}

.picture__collection {

    &-add-folder{
        font-size: 12px;
        color: #0951AF !important;
        margin-left: 299px;
    }

    &-options{
        padding: 13px 20px 27px;
    }
    &-option{

        display: flex;
        justify-content: space-between;
        height: 51px;
        align-content: space-between;
        margin: 12px 0;

        &-section{
            font-weight: 800;
            font-size: 24px;
            color: #000000;
            position: relative;
            top: 10px;
            width: 188px;
        }
    }
    &-img{

        &-globe{
            width: 21px;
            height: 21px;
            background-image: url("../img/globe.png");
            margin-top: 16px;
            margin-left: 51px;
        }

        &-lock{
            width: 29px;
            height: 29px;
            background-image: url("../img/lock.png");
            margin-top: 9px;
            margin-left: 51px;
        }
    }
    &-save-btn{
        width: 207px;
        height: 51px;
        background: #0951AF;
        border-radius: 7px;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        color: #F2F2F2;
        border-style: none;
    }
}

// .picture__collection-add-folder {
// font-size: 12px;
// color: #0951AF !important;
// margin-left: 299px;
// }

// .picture__collection-options {
// padding: 13px 20px 27px;
// }

// .picture__collection-option {
// display: flex;
// justify-content: space-between;
// height: 51px;
// align-content: space-between;
// margin: 12px 0;
// }

// .picture__collection-option-section {
// font-weight: 800;
// font-size: 24px;
// color: #000000;
// position: relative;
// top: 10px;
// width: 188px;
// }

// .picture__collection-img-globe {
// width: 21px;
// height: 21px;
// background-image: url("../img/globe.png");
// margin-top: 16px;
// margin-left: 51px;
// }

// .picture__collection-img-lock {
// width: 29px;
// height: 29px;
// background-image: url("../img/lock.png");
// margin-top: 9px;
// margin-left: 51px;
// }

// .picture__popup-collection-save-btn {
// width: 207px;
// height: 51px;
// background: #0951AF;
// border-radius: 7px;
// font-weight: bold;
// text-transform: uppercase;
// font-size: 14px;
// color: #F2F2F2;
// border-style: none;
// }