.similar {
  padding: 0 35px 0 45px;
}

.teg {
  margin-top: 23px;
  display: flex;
}

.teg__item {
  border-radius: 2px;
  background: #808080;
  font-size: 14px;
  text-transform: uppercase;
  color: white;
  height: 40px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.teg__delete {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  background: url("../img/cancel.svg") no-repeat center center/cover;
}

.galery {
  margin-top: 23px;
}

.grid {
  max-width: 1200px;

  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

.item-new__round {
  text-align: center;
  padding-top: 28px;
  width: 85px;
  height: 85px;
  border: 1px solid #000000;
  border-radius: 50%;
  font-size: 46px;
  color: #000000;
  font-weight: 100;
  margin: 49px auto 24px auto;
}

.item-new__link {
  color: #1C8EED;
  &:hover {
    color: #0335ed;
  }
  &:visited {
    color: #1C8EED;
  }
}


.grid__item {
  float: left;
  height: 290px;
  width: 214px;
  border-radius: 8px;
  margin-bottom: 10px;
  background: no-repeat center center/cover;

  &-new {
    border: 1px dashed #C7C7C7;
    text-align: center;
    font-size: 14px;
    line-height: 23px;

  }
}

